
* {
    padding: 3px;;
    margin: 0px;  

}
.navbar {
    display:flex;
    justify-content: space-between;

    
    background-color: blue;

}

.nombre  {
    background-color: blueviolet;
    width: 8%;
    text-decoration: none;
    
}

.nombre h3{
    justify-content: center;
    
    color: black;

}

.logo {
    width: 50%;
    
}

.button-container{
    
    background-color: aqua;
    align-items: center;
    display: flex;
    justify-content:center;
    border-bottom: 50px;
    width: 30%;
    
}

.button-container button{
    border-radius: 5px ;
    margin: 10px;
   
}