.carrito {
    
    padding-right: 5px;
    background-color: red;
    width: 5%;

}

.imagenCarrito {
    width: 80%;
    
    
}

.contador{
    border: none;
    text-decoration:none;
    color: black;
}